@import 'tailwindcss';
@import '@fontsource/jetbrains-mono';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton-svelte';

html,
body,
#app {
	width: 560px;
	height: 600px;
	margin: 0;
	overflow: hidden;
}
